<h1>Crop Avatar</h1>

<%= image_tag @shop.image_url(:large_profile), id: "cropbox" %>

<h4>Preview</h4>
<div style="width:62px; height:62px; overflow:hidden" class="jcrop">
  <%= image_tag @shop.image.url(:large_profile), :id => "preview" %>
</div>

<%= form_for @shop do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
  <div class="actions">
    <%= f.submit "Crop", :class => 'btn' %>
  </div>
<% end %>