<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <flieldset>
    <% if @reason != "password" %>
      <%= f.label :first_name, "First Name *" %>
      <%= f.text_field :first_name %>
      <%= errors_for @user, :first_name %>
  
      <%= f.label :last_name, "Last Name *" %>
      <%= f.text_field :last_name %>
      <%= errors_for @user, :last_name %>

      <%= f.label :email, "Email *" %>
      <%= f.text_field :email %>
      <%= errors_for @user, :email %>
    <% end %>
  </fieldset>
  
  <fieldset>
    <% if @reason != "profile" %>  
      <%= f.label :password, "Password *" %>
      <%= f.password_field :password %>
      <%= errors_for @user, :password %>

      <%= f.label :password_confirmation, "Confirmation *" %>
      <%= f.password_field :password_confirmation %>
      <%= errors_for @user, :password_confirmation %>    
    <% end %>
  </fieldset>
   
  <div class="form-actions">
    
    <% if @reason == "profile" %>
      <%= f.submit "Save changes", class: "btn btn-warning" %>
      <%= link_to 'Cancel', user_path(@user), :class => 'btn' %>
      <%= link_to ' Delete', user_path(@user), confirm: 'Are you sure you want to delete your account, no take backsies?', method: :delete, :class => 'btn float_right' %>
    <% elsif @reason == "password" %>
      <%= f.submit "Change Password", class: "btn btn-warning" %>
      <%= link_to 'Cancel', user_path(@user), :class => 'btn' %>      
    <% else %>
      <%= f.submit "Sign Up", class: "btn btn-warning" %>
      <%= link_to 'Cancel', users_path, :class => 'btn' %>
    <% end %>
  </div>
<% end %>