<div class="all-categories row-fluid">
  <ul>
    <li><%= link_to "Lighting", items_path %></li>
    <li><%= link_to "Hardware", items_path %></li>
    <li><%= link_to "Furniture", items_path %></li>
    <li><%= link_to "Salvage", items_path %></li>
  </ul>
</div>
<br><br>
<div class="row-fluid">
  <div class="span6 category">
    <h1>Find the perfect:</h1>
    <h3>Lighting, Furniture, Hardware ... </h3>
    <p>We bring you thousands of hard to find items from leading antique dealers and salvage yards from accross the country. The search for just the right item has never been so convenient.</p>
    <%= link_to 'Shop Now', items_path, :class => 'btn btn-large btn-warning' %>
  </div>
    
  <div class="span6 category">
    <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCpWlPNsBYXxxq07RKp-X7ZwTlQT0URGA_pq2lRI-XrP2dGYGo", :size => "450x400", :class=> "img-polaroid")  %>
  </div>

</div>
