<h1>Order Show</h1>

<table class="table">
  <tr>
    <td><b>Shop Name:</b></td>
    <td>
      <%= @order.shop.name %>
    </td>
  </tr> 
  
  <tr>
    <td><b>Order Date:</b></td>
    <td>
      <%= @order.created_at %>
    </td>
  </tr>
  
  <tr>
    <td><b>Status:</b></td>
    <td>
      <%= @order.status %>
    </td>
  </tr>

</table>

<h3>Shipping Address</h3>
  
<table>
  
  <tr>
    <td>
      <%= display_address(@shippingaddress) %>
    </td>
  </tr>  
   
</table>

<h3>Purchased Items</h3>

<table class="table">
  <tr>
    <td>Item</td>
    <td>Store</td>
    <td>Quantity</td>
    <td>Price</td>    
  </tr>
  
  <% @order.line_items.each do |line_item| %>
    <tr>
      <td><%= link_to line_item.item.title, item_path(line_item.item) %></td>
      <td></td>
      <td><%= line_item.quantity %></td>
      <td><%= number_to_currency(line_item.price) %></td>
    </tr>
  <% end %>
  
  <tr>
  <td></td>
  <td></td>
  <td><b>Total Cost:</b></td>
  <td><b><%= number_to_currency(@order.total_price) %></b></td>
  </tr>  
   
</table>

<% if @order.status == "Order Shipped" %>
  <%= render "display_shipping_information" %>
<% end %>

<%= link_to 'Back', :back, :class => 'btn' %>