<% if @cart_orders.any? %>
  <div id="cart_header">
    <h3><%= pluralize(@cart.line_items.size, 'item') %> in your cart.</h3>
    <%= link_to 'Keep Shopping', root_path, :class => 'btn' %><br><br>
  </div>

  <% @cart.cart_orders.each do |cart_order| %>
  
    <div class="cart_order">
      <div class="cart_order_header">
        <p>Your order with: <%= cart_order.shop.name %></p>
        <%= link_to (content_tag(:i, "", :class=>"icon-remove")), cart_order_path(cart_order), method: :delete, data: {confirm: "Are you sure you want to delete your order?" }, :class => 'right' %>  
      </div>

      <table>
        <%= render :partial => 'line_item', :collection => cart_order.line_items %> 
        <tr>
          <td colspan="2">Total</td>
          <td><%= number_to_currency(cart_order.total_price) %></td>
        </tr>
      </table>
      <br>
      <%= link_to 'Checkout', new_order_path(cart_order_id: cart_order), :class => 'btn' %>
      <%= link_to 'Delete Order', cart_order_path(cart_order), method: :delete, data: {confirm: "Are you sure?" }, :class => 'btn' %>
      <br>
    </div>
    <br>
    <% end %>
<% else %>
  Empty Cart
<% end %>