<%= form_for(@item) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <fieldset>

    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
    <%= errors_for @item, :title %>
    
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= errors_for @item, :price %>
   
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
    <%= errors_for @item, :quantity %>
  
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'span7', :rows => "10" %>
    <%= errors_for @item, :description %>

  </fieldset>
  
  
  <div class="form-actions">    
    <% if params[:action] == "edit" %>
      <%= f.submit "Save changes", class: "btn btn-warning something", id:"button something" %>
    <% else %>
      <%= f.submit "Add Item", class: "btn btn-warning" %>
    <% end %>
    <%= link_to 'Cancel', :back, :class => 'btn' %>
  </div>
  
<% end %>