<div id="item_header" class="clearfix">
  <%= link_to 'Back', items_path, :class => 'btn right' %>
</div>

<div class="clearfix">
  <div id="layout-left">
    <div id="layout-main">
      <div class="item-header">
        <h3><%= @item.title %></h3>
      </div>
      <div class="item-images" id="full">
        <ul>
          <% @item.item_images.each do |picture| %>
            <li id="image<%= picture.id %>"><%= image_tag(picture.image.large) %></li>
          <% end %>
        </ul>
      </div>
      <div id="thumbnails">
        <ul>
        <% @item.item_images.each do |picture| %>
            <li class="thumb"><a href="#image<%= picture.id %>"><%= image_tag picture.image.thumb if picture.image.present? %></a></li>
        <% end %>
        </ul>
      </div>
      <div id="item-description">
        <h4>What's included in my order?</h4>
        <%= @item.description %>
      </div>   
    </div>  
    <% unless @reviews.empty? %>
      <div id="layout-reviews">
        <%= render 'layouts/reviews' %>
      </div>
    <% end %>
  </div>
  

  
  <div id="layout-right">
    <div id="item-order">
    <div>
      <div id="price_available" class="clearfix">
        <h4><%= number_to_currency(@item.price) %></h4>
        <span class="right"><%= format_quantity(@item.quantity) %></span></div>
      </div>
      <%= render "quantity" %>
    
    </div>
    
    <div id="item-favorite">
      <%= link_to (content_tag(:i, "", :class=>"icon-heart") + " Favorite"), favorites_path(:id => @item.id), :method=> :post, :class => 'btn favorite' %>
      <p><%= display_loves(@item.favorites.size) %></p>
    </div>
    
    <div id="item-shop" class="pagination-centered">
      <h4>Verified Home Shop-Owner</h4>
      <%= image_tag @item.shop.image.thumb, { :class=>"shop_image"} %>
      <h4><%= @item.shop.name %></h4>
      <p><%= @item.shop.city %>, <%= @item.shop.state %></p>
      <%= link_to 'View Store', shop_path(@item.shop), :class => 'btn' %>
    </div>
    
    <div id="item-shop-other-items">
      <h4 class="pagination-centered">Other Great Items from <%= @item.shop.name %>:</h4>
      <ul>
        <% @items.each do |item| %>
          <li>
            <%= link_to image_tag(item.itemimages.first.image.thumb, :border => 0), item if item.itemimages.first.present? %>
            <%= link_to item.title, item %>
          </li>
        <% end %>
      </ul>
      <% if @items_count > 3 %>
        <p><%= link_to "See more items from #{@item.shop.name}", @item.shop %></p>
      <% end %>
    </div>
  </div>
</div>