<h1>Your Shop Item</h1>

<table class="table">
  <tr>
    <td><b>Item:</b></td>
    <td>
      <%= @item.title %>
    </td>
  </tr> 

  <tr>
    <td><b>Description:</b></td>
    <td>
      <%= @item.description %>
    </td>
  </tr>
  
  <tr>
    <td><b>Price:</b></td>
    <td>
      <%= number_to_currency(@item.price) %>
    </td>
  </tr>
  
  <tr>
    <td><b>Quantity Available:</b></td>
    <td>
      <%= @item.quantity %>
    </td>
  </tr>
   
</table>


<%= link_to 'Back', youritems_path, :class => 'btn' %>
<%= link_to 'Edit', edit_item_path(@item), :class => 'btn' %>