<%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset id="positive-review">
    <%= f.label :positive, "Thumbs up or down for this store *" %><br>
    <%= f.radio_button :positive, true %><%= f.label :positive, "Thumbs Up!" %> 
    <%= f.radio_button :positive, false %><%= f.label :positive, "Thumbs Down!" %>  
  </fieldset>
    <%= errors_for @review, :positive %>
  
  <%= f.label :comment, "Comment *" %>
  <%= f.text_area :comment, :class => 'span7', :rows => "10" %>
  <%= errors_for @review, :comment %>
  

  
  <%= f.hidden_field :order_id, :value => @order %>
  
  <div class="form-actions">
    
    <% if params[:action] == "edit" %>
      <%= f.submit "Save changes", class: "btn btn-warning" %>
      <%= link_to 'Cancel', yourshop_path, :class => 'btn' %>
    <% else %>
      <%= f.submit "Submit Your Review", class: "btn btn-warning" %>
      <%= link_to 'Cancel', users_path(current_user), :class => 'btn' %>
    <% end %>
  </div>
<% end %>